:root {
  --header-height: 3.5rem;
  --first-color: hsl(23, 100%, 50%);
  --gradient-color: linear-gradient(
    90deg,
    hsl(23, 4%, 28%) 0%,
    hsl(23, 4%, 8%) 100%
  );
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 10rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .home {
    &__img {
      width: 180px;
    }
    &__title {
      font-size: 8rem;
    }
  }
  .model__tooltip-1 .model__tooltip-text,
  .model__tooltip-2 .model__tooltip-text {
    transform: translate(40px, -40px);
  }
  .sponsor {
    margin-left: 30px;
  }
  .footer {
    &__form {
      button {
        width: 130px;
      }
    }
  }
}
@media screen and (min-width: 576px) {
 
  .about {
    &__container {
      grid-template-columns: 380px;
      justify-content: center;
    }
  }
  .footer {
    &__data {
      grid-template-columns: repeat(3, max-content);
      column-gap: 48px;
    }
  }
}
@media screen and (min-width: 768px) {
  .home {
    &__img {
      width: 320px;
    }
    &__title {
      font-size: 16rem;
      top: -64px;
    }
    &__social {
      top: 0;
      bottom: 0;
      align-content: center;
    }
  }
  .sponsor__container {
    grid-template-columns: repeat(4, max-content);
  }
  .footer__container {
    justify-content: space-between;
  }
  .footer__data {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}
@media screen and (min-width: 1150px) {
  .main {
    margin-left: 10%;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 128px 32px;
  }
  .section__title {
    font-size: var(--h1-font-size);
  }
  .home__img {
    width: 500px;
  }
  .home__title {
    font-size: 25rem;
    top: -8px;
    column-gap: 16px;
  }
  .home__tooltip-img {
    width: initial;
  }
  .home__tooltip-text {
    font-size: var(--normal-font-size);
    transform: translate(82px, -52px);
  }
  .home__social-text {
    font-size: var(--normal-font-size);
  }
  .home__social-links {
    row-gap: 16px;
  }
  .home__social-link {
    font-size: 24px;
  }
  .about__container {
    grid-template-columns: 400px 500px;
  }
  .about__data .section__title,
  .about__data {
    text-align: initial;
  }
  .about__img {
    width: 500px;
  }
  .model__img {
    width: 600px;
  }
  .model__tooltip-img {
    width: initial;
  }
  .model__tooltip-text {
    font-size: var(--normal-font-size);
    padding: 8px 20px;
    transform: translate(82px, -56px);
  }
  .model__tooltip-1 {
    top: 450px;
    left: 7rem;
  }
  .model__tooltip-3 {
    top: 40px;
    left: 31rem;
  }
  .model__tooltip-2 {
    top: 200px;
    left: 10rem;
  }
  .model__tooltip-4 {
    top: 420px;
    left: 25rem;
  }
  .footer__social-link{
    font-size: 20px;
    
  }
}
